/*Fuentes*/
@font-face {
    font-family: cookie;
    src: url("fonts/Cookie-Regular.ttf");
}

@font-face {
    font-family: Chloe;
    src: url("fonts/Chloe\ Mate.otf");
}

@font-face {
    font-family: CrimsonText;
    src: url("fonts/CrimsonText-Bold.ttf");
}


/*Color del horno #690000*/

/*header*/

#titulo h1 {
    font-family: cookie;
    font-size: 7vw;
    color: #690000;
    padding-left: 5%;
    margin-top: 2%;
    text-decoration: underline;
    text-shadow: 0 1px 0px #ffffff, 1px 0 0px #5dabcd, 1px 2px 1px #ffffff, 2px 1px 1px #5dabcd, 2px 3px 2px #ffffff, 3px 2px 2px #5dabcd, 3px 4px 2px #ffffff, 4px 3px 3px #5dabcd, 4px 5px 3px #ffffff, 5px 4px 2px #5dabcd, 5px 6px 2px #ffffff, 6px 5px 2px #5dabcd, 6px 7px 1px #ffffff, 7px 6px 1px #5dabcd, 7px 8px 0px #ffffff, 8px 7px 0px #5dabcd;
}

#santo {
    margin-top: 10%;
    width: 8vw;
    border: 0.5vw solid white;
    background-color: wheat;
    -webkit-box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 50px 50px 7px 50px rgba(105, 0, 0, 0);
    box-shadow: 5px 5px 0px 0px #690000, 10px 10px 0px 0px #580000, 15px 15px 0px 0px #4e0000, 20px 20px 0px 0px #3b0000, 25px 25px 0px 0px rgb(10, 0, 0), 50px 50px 7px 50px rgba(105, 0, 0, 0);
}


/*section*/
.section {
    padding: 2% 1vw;
}

/*carrusel*/
#carrusel {
    max-height: 30vw;
    border: 15px double #8a3300;
    background-color: rgb(97, 7, 7);
}

.carousel-caption {
    width: 69%;
}

.carousel-caption h5 {
    background-color: rgb(255, 255, 255, 0.7);
    font-size: 2vw;
    font-family: Chloe;
}

.carousel-caption p {
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 1.5vw;
    font-family: Chloe;
}

/*Regiistro*/
#ingresar {
    margin-top: 4%;
}

#ingresar h4 {
    font-family: CrimsonText;
    font-size: 2vw;
}


/*Footer*/
#footer {
    color: white;
    background-color: #690000;
    bottom: 0;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer p,
#footer h5 {
    font-family: CrimsonText;
}

#footer h5 {
    text-decoration: underline;
}

#footer .logo {
    width: 8vw;
}

/*Alertas*/
.swal2-popup {
    color: #690000;
    border-radius: 94px 94px 94px 94px;
    -webkit-border-radius: 94px 94px 94px 94px;
    -moz-border-radius: 94px 94px 94px 94px;
}

.swal2-actions {
    background-color: #690000;
    color: white;
}

.saludo {
    width: 40vw;
    height: 50%;
    padding: 2dvw;
}

.saludo h2 {
    font-family: CrimsonText;
    color: #690000;
    letter-spacing: .15em;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

.serror {
    background-color: #FFF;
    color: #690000;
}

.serror h2 {
    font-family: CrimsonText;
}


/*Tamaños de pantalla*/

@media (max-width: 780px) {
    #carrusel {
        max-height: 50vw;
    }
    #footer .logo {
        width: 30vw;
    }
    .swal2-popup {
       width: 100%;
    }
}

 